<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="smartbed" />
    <meta name="author" content="Bruno Vunderl" />
    <meta name="keyword" content="smartbed, iot" />
    <link rel="shortcut icon" href="/static/img/favicon.png" />

    <title>{% block title %}{% endblock %}</title>

    <!-- Icons -->
    <link href="/static/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/css/simple-line-icons.css" rel="stylesheet">

    <!-- Main styles for this application -->
    <link href="/static/css/style.css" rel="stylesheet">

</head>

<body class="app header-fixed sidebar-fixed aside-menu-fixed aside-menu-hidden">
    <header class="app-header navbar">
        <button class="navbar-toggler mobile-sidebar-toggler d-lg-none" type="button">☰</button>
        <a class="navbar-brand" href="#"></a>
        <ul class="nav navbar-nav d-md-down-none">
            <li class="nav-item">
                <a class="nav-link navbar-toggler sidebar-toggler" href="#">☰</a>
            </li>
        </ul>
    </header>

    <div class="app-body">
        <div class="sidebar">
            <nav class="sidebar-nav">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="index"><i class="icon-speedometer"></i> Dashboard </a>
                    </li>
                    <li class="nav-item nav-dropdown" id="nav-all-nodes">
                        <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-layers"></i> All nodes </a>
                        <!-- <a class="nav-link nav-dropdown-toggle" href="all_nodes"><i class="icon-layers"></i> All nodes </a> -->
                        <ul class="nav-dropdown-items">
                            {% for node in nodes | sort(attribute='name') %}
                                <li class="nav-item">
                                    <a class="nav-link" id="nav-{{ node.name }}" href="node?id={{ node.id }}"><i class="fa fa-microchip"></i> Node {{ node.name }} </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="sleep_monitor"><i class="fa fa-bed"></i> Sleep monitor </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="settings"><i class="icon-settings"></i> Settings </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="about"><i class="icon-info"></i> About </a>
                    </li>

                </ul>
            </nav>
        </div>

        <!-- Main content -->
        <main class="main">

            <ol class="breadcrumb">
                <li class="breadcrumb-item">Home</li>
                <li class="breadcrumb-item"><a href="#">Admin</a>
                </li>
                <li class="breadcrumb-item active">Dashboard</li>

                <!-- Breadcrumb Menu-->
                <li class="breadcrumb-menu d-md-down-none">
                    <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                        <a class="btn btn-secondary" href="#"><i class="icon-speech"></i></a>
                        <a class="btn btn-secondary" href="./"><i class="icon-graph"></i> &nbsp;Dashboard</a>
                        <a class="btn btn-secondary" href="#"><i class="icon-settings"></i> &nbsp;Settings</a>
                    </div>
                </li>
            </ol>

            <div class="container-fluid">
                <div class="animated fadeIn">
                    {% block body %} {% endblock %}
                </div>
            </div>
        </main>


    </div>

    <footer class="app-footer">
        smartbed © 2017 <a href="https://uc-lab.in.htwg-konstanz.de/">Ubiquitous Computing Laboratory, HTWG Konstanz</a>.
    </footer>

    <!-- Bootstrap and necessary plugins -->
    <script src="/static/js/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/static/js/bower_components/tether/dist/js/tether.min.js"></script>
    <script src="/static/js/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/static/js/bower_components/pace/pace.min.js"></script>
    <script src="/static/js/bower_components/chart.js/dist/Chart.min.js"></script>
    <script src="/static/js/bower_components/plotly/plotly.js"></script>

    <!-- GenesisUI main scripts -->
    <script src="/static/js/app.js"></script>

    <!-- Smartbed related js -->
    <script type="text/javascript" src="/static/js/smartbed.js"></script>

    {% block customjs %}{% endblock %}

</body>

</html>