{% extends "base.html" %}

{% block title %} Smartbed dashboard {% endblock %}

{% block bradcrumb %}
<li class="breadcrumb-item active">Dasboard</li>
{% endblock %}

{% block body %}

<div class="row">

    <div class="col-sm-4 col-lg-4">
         <div class="card card-inverse card-primary">
            <div class="card-header pb-0">
                <h5>Nodes active</h5>
            </div>
            <div class="card-block pb-0">
                <blockquote class="card-blockquote">
                    <h1 class="mb-0">{{ active_nodes }}</h1>
                </blockquote>
            </div>
            <div class="chart-wrapper px-3" style="height:70px;">
                <canvas id="card-chart1" class="chart" height="70"></canvas>
            </div>
        </div> 
    </div> 

    <div class="col-sm-4 col-lg-4">
         <div class="card card-inverse card-info">
            <div class="card-header pb-0">
                <h5>Sensors active</h5>
            </div>
            <div class="card-block pb-0">
                <h1 class="mb-0"> {{ active_sensors }} </h1>
            </div>
            <div class="chart-wrapper px-3" style="height:70px;">
                <canvas id="card-chart1" class="chart" height="70"></canvas>
            </div>
        </div> 
    </div> 

    <div class="col-sm-4 col-lg-4">
         <div class="card card-inverse card-danger">
            <div class="card-header pb-0">
                <h5>Service status</h5>
            </div>
            <div class="card-block pb-0">
                <blockquote class="card-blockquote">
                    <h1 class="mb-0">{{ edison }}</h1>
                </blockquote>
            </div>
            <div class="chart-wrapper px-3" style="height:70px;">
                <canvas id="card-chart1" class="chart" height="70"></canvas>
            </div>
        </div> 
    </div> 

</div>

<div class="card">
    <div class="card-block">
        <div class="row">
            <div class="col-sm-5">
                <h4 class="card-title mb-0">Sensor values</h4>
                <div class="small text-muted">Histogram of values</div>
            </div>
            <!--/.col-->
        </div>
        <!--/.row-->
        <div class="chart-wrapper" style="height:380px;margin-top:40px;">
            <canvas id="main-chart" class="chart" height="380"></canvas>
        </div>
    </div>

    <div class="card-footer">
        <ul>
            <li>
                <div class="text-muted">Minimum value</div>
                <strong>3277 (5%)</strong>
                <div class="progress progress-xs mt-2">
                    <div class="progress-bar bg-info" role="progressbar" style="width: 5%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </li>
            <li class="hidden-sm-down">
                <div class="text-muted">Average value</div>
                <strong>28835 (44%)</strong>
                <div class="progress progress-xs mt-2">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 44%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </li>
            <li>
                <div class="text-muted">Maximum value</div>
                <strong>65420 (98%)</strong>
                <div class="progress progress-xs mt-2">
                    <div class="progress-bar bg-warning" role="progressbar" style="width: 98%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </li>
        </ul>
    </div>
</div>
<!--/.card-->


{% endblock %} {% block customjs %}

<script src="/static/js/views/index.js"></script>

{% endblock %}